<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'books'%}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'books' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
               
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc&category=Children'sBooks" class="dropdown-item">By Children's Books</a>
                <a href="{% url 'books' %}?sort=rating&direction=desc&category=Health" class="dropdown-item ">By Health</a>
                <a href="{% url 'books' %}?sort=category&direction=asc&category=FoodDrink" class="dropdown-item ">By Food Drink</a>
                <a href="{% url 'books' %}?sort=category&direction=asc&category=Crime" class="dropdown-item ">By Crime, Thrillers and Mystery</a>
                <a href="{% url 'books' %}?sort=category&direction=asc&category=PopularScienceBooks" class="dropdown-item ">By Popular Science Books</a>
               
            </div>
        </li>

       

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'books' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'books' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'books' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'books' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>